@model Arthes2022.Models.ViewModels.RevistaViewModel
@using Arthes2022.Models.Extensions
@using Arthes2022.Models.Entities


<style>
    .text-danger-cadastro {
        color: red;
        font-size: smaller;
    }
</style>
<html>
<body>
    <h1>Cadastro de Revistas</h1>

    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form method="post" action="CreateRevista">
                    <div asp-validation-summary="ModelOnly" class="text-danger-cadastro"></div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Tema, new { @class="control-label"})
                        @Html.TextBoxFor(model => model.Tema, new { @class="form-control"})
                        @Html.ValidationMessageFor(x => x.Tema, "", new { @id = "Error", @class = "text-danger-cadastro" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.NumeroEdicao, new { @class="control-label"})
                        @Html.TextBoxFor(model => model.NumeroEdicao, new { @class="form-control"})
                        @Html.ValidationMessageFor(x => x.NumeroEdicao, "", new { @id = "Error", @class = "text-danger-cadastro" })
                    </div>
                    <div class="form-group  col-md-6">
                        @Html.LabelFor(model => model.MesEdicao, new { @class="control-label"})
                        @*@Html.TextBoxFor(model => model.MesEdicao, new { @class="form-control"})*@
                        @Html.DropDownListFor(Model => Model.MesEdicao, Mes.JANEIRO.ToSelectList(),"", new { @class="form-control"})
                        @Html.ValidationMessageFor(x => x.MesEdicao, "", new { @id = "Error", @class = "text-danger-cadastro" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.AnoEdicao, new { @class="control-label"})
                        @Html.TextBoxFor(model => model.AnoEdicao, new { @class="form-control"})
                        @Html.ValidationMessageFor(x => x.AnoEdicao, "", new { @id = "Error", @class = "text-danger-cadastro" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Foto, new { @class="control-label"})
                        @Html.TextBoxFor(model => model.Foto, new { @class="form-control"})
                        @Html.ValidationMessageFor(x => x.Foto, "", new { @id = "Error", @class = "text-danger-cadastro" })
                    </div>
                    <br />
                    <div id="divButtons" class="tright">
                        <div class="form-group">
                            <button type="submit" value="Create" class="btn btn-primary">Salvar</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}